.center{ text-align:center; }

.sizeSpace{ }



img.twenty-five-percent 
{

   width: 25%;

}

/*style for common tags */

h1.center

{

	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;

}



body
{

	background-image:url(../images/web.jpg)

}


container.center
{

	

}

img
{ 

padding:20px; margin:10px; 
	
}



/********************************/



/*Table in additional info page start here */



table

{	

 position:relative;

 align-self:center;

 margin: 60px auto;

}



th h3{ text-align:center; }

td img{ margin:15px; }


