@charset "utf-8";
/* CSS Document */

/* This will wrap our game to its default size */

.wrapper{ height:600px; text-align:center; }


/* Style for the game environment */
#canvas{ position:absolute; left:6px; border: 2px solid red; }

.menu{ text-align:center; }

.menu h1{ margin-left: 80px; display:inline-block; }

.menu section{ display:inline-block; float:right; }

.menu{ width:100%; }

.menu h1{ width:50%; display:inline-block; margin-left: 80px;}

#instruction { float:right; display:inline-block;  margin-top:10px; margin-right:120px;  }
#instruction button{ padding:10px; font-size: 24px; }
#instruction p{ color: white; background-color: brown; }


#place{ background: url(images/gameBkg.jpg) no-repeat; background-size:100%;  width:100%; height:70%;  z-index:-1; }

.tracker{ }

#score{ display:inline-block; float:left; margin-left: 10%; }

#timer{ float:right;  margin-right:10%; display:inline-block; }

/* Style for the Welcome page */

.welcomePage{ position: absolute; border: 2px solid green; width:40%; left:30%; top:200px; padding:20px; }

.title{ }

#start{ }