
img.twenty-five-percent
 {
   width: 25%;
}

/* Style container*/

/* Support id*/
.center{text-align:center;}

/*style for common tags */
h1.center
{

font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	
}

body
{
	background-image:url(images/web.jpg);
    padding-top: 10%;
    padding-bottom: 10%;
}

img{ padding:20px; margin:10px; }

/*Table in additional info page start here */

table
{	

 position:relative;
 align-self:center;
 margin: auto;

}

th h3{ text-align:center; }
td img{ margin:15px; }

/*footer styles*/

footer
{
	width:900px;
	height:70px;
	text-align:center;
	color:white;
	float:right;
	clear:both;
	margin: 5% 35% 30px auto;	
}

footer p{float: left;}

footer ul li {
	float: left;
	background: url(images/icon.png) no-repeat;
	margin: auto 16px;
	padding-top: 22px;
	padding-right: 23px;
	padding-left: 22px;
	border-radius: 11px;
	padding-bottom: 22px;
	border-collapse:collapse;
}


/*Style to support footer navigation & links */
footer ul {list-style:none; margin:0;}

#fb{ background-position:left top;}
#fb:hover{ background-position:left bottom;}

#plus{ background-position:-45px top; }
#plus:hover{ background-position:-45px bottom; }


#tw{ background-position:-90px top;}
#tw:hover{ background-position:-90px bottom;}

#link{ background-position:right top; }
#link:hover{ background-position:right bottom; }

#copyr{float:right; margin: auto -10px;}
